html {
    background-color:rgb(255, 79, 79);
    }
/* html {
    background: black;
} */
/* .card {
    float: right;
}
#jumborow {
    float: left;
}
#copyright {
    text-align: center;
} */
.jumbotron {
    background-color: black;
    margin:0;
}
.navbar {
    background-color:rgb(255, 79, 79);
}
footer {
    background-color:rgb(255, 79, 79);
    /* padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px; */
}
/* #footeritems {
    margin: ;
} */