html {
    background-color:rgb(255, 79, 79);
}
.jumbotron {
    background-color: black;
    margin:0;
}
.navbar {
    background-color:rgb(255, 79, 79);
}
/* footer {
    background-color:rgb(255, 79, 79);
    margin: 0;
} */
.footer {
    padding-top: 1%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(255, 79, 79);
    color: white;
}

.footer h2 {
    font-size: 20px;
}
.formfillout {
    padding: 2%;
    background-color: grey;
}