/* html {
    background-color: black;
} */
.jumbotron {
    background-color: black;
    margin:0;
}
.navbar {
    background-color:rgb(255, 79, 79);
}
.footer {
    padding: 1%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(255, 79, 79);
    color: white;
}

.footer h2 {
    font-size: 20px;
}
.formfillout {
    padding: 2%;
    background-color: grey;
}
.img-fluid {
    margin: 20px;
}
.jumboline {
    background-color: red;
}
.form-label {
    color: red;
}
.contactbutton {
    background-color: red;
    color: black;
}
.navbar-toggler {
    background-color: black;
    color: red;
}
/* .card {
    padding: 5%;
} */
.button-text {
    padding: 2%;
}
/* defines the animation */
@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
    .jumbotext {
        /* animation-delay: 1s; */
        opacity: 0; 
        animation: fadeInUp 2s ease-in-out 0s forwards;
    };

    /*overlay effect */

  /* .imageport {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .portfoliowebpages:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */